[Desktop Entry]
Name=Pengwin
X-KDE-PluginInfo-Name=Pengwin
X-KDE-PluginInfo-Author=Carlos Ramirez
X-KDE-PluginInfo-Email=carlos@whitewaterfoundry.com
X-KDE-PluginInfo-License=GPLv2+
